appdirs==1.4.4
attrs==25.4.0
beautifulsoup4==4.14.2
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
click==8.1.8
colorama==0.4.6
cryptography==46.0.2
fasteners==0.20
future==1.0.0
idna==3.10
intelhex==2.3.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
junit-xml==1.9
lockfile==0.12.2
lxml==6.0.2
MarkupSafe==3.0.3
mbed-cli==1.10.5
mbed-greentea==1.8.15
mbed-host-tests==1.8.15
mbed-ls==1.8.15
mbed-os-tools==1.8.15
prettytable==2.5.0
psutil==7.1.0
pycparser==2.23
pycryptodome==3.23.0
pyelftools==0.32
pyserial==3.5
PyYAML==6.0.3
referencing==0.36.2
requests==2.32.5
rpds-py==0.27.1
six==1.17.0
soupsieve==2.8
typing_extensions==4.15.0
urllib3==2.5.0
wcwidth==0.2.14
